@include tablet {
  .footer {
    font-size: 14px;

    &__container {
      gap: 28px 74px;

      padding-top: 24px;
    }

    &__logo {
      width: 124px;
    }


    .socials {
      gap: 16px;
    }

    .contacts {
      &__item:not(:last-child) {
        margin-bottom: 11px;
      }
    }
  }
}

@media (max-width: 720px) {
  .footer {
    &__container {
      column-gap: 44px;
    }
  }
}
