@include tablet {
  .hero {
    &__container {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__title {
      max-width: 410px;
    }

    &__description {
      max-width: 410px;
      margin-bottom: 50px;

      font-size: 14px;
    }

    &__slider-block {
      position: static;
      height: 280px;
    }

    &__slider-navigation {
      right: var(--padding);
      left: auto;

      transform: none;
    }
  }
}
