@include mobile {
  .advantages {
    &__container {
      gap: 16px;
    }

    &__title {
      padding-left: 20px;
    }

    &__list {
      padding-left: 20px;
    }

    &__item {
      padding-left: 24px;

      font-size: 14px;
    }
  }
}
