@include tablet {
  .modal {
    &__main {
      max-width: 632px;
    }

    &__container {
      &::after {
        flex-basis: 192px;

        background-image: url('../img/modal-bg-tablet.jpg');
      }
    }

    &__content {
      padding: 24px;
    }

    &__title {
      margin-bottom: 16px;

      font-size: 24px;
    }

    &__subtitle {
      max-width: 272px;
      margin-bottom: 24px;

      font-size: 14px;
    }

    &__input {
      height: 36px;

      &-error {
        font-size: 10px;
      }
    }
  }
}
