@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Regular'), local('Inter-Regular'),
  url('../../fonts/inter/inter-v12-cyrillic_latin-regular.woff2') format('woff2'),
  url('../../fonts/inter/inter-v12-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter Medium'), local('Inter-Medium'),
  url('../../fonts/inter/inter-v12-cyrillic_latin-500.woff2') format('woff2'),
  url('../../fonts/inter/inter-v12-cyrillic_latin-500.woff') format('woff');
}
